[user]
	email = japenedo@gmail.com
	name = Jose Antonio
[safe]
	directory = /mnt/mypassport/git/hyprland/
	directory = /mnt/mypassport/git/hyprland
	directory = /mnt/mypassport/git/waybar/
	directory = /mnt/mypassport/git/waybar
	directory = /mnt/mypassport/git/rofi/
	directory = /mnt/mypassport/git/rofi/
	directory = /mnt/mypassport/git/rofi
	directory = /mnt/mypassport/git/wlogout
	directory = /mnt/mypassport/git/dotfiles
	directory = /mnt/mypassport/git/dotfiles/
	directory = /mnt/mypassport/git/dotfiles
	directory = /mnt/mypassport/git/code/photosync
	directory = /mnt/mypassport/git/pass
	directory = /mnt/mypassport/git/mt5-pepperstone
	directory = /mnt/mypassport/git/mt5
	directory = /usr/share/sddm/themes
	directory = /mnt/mypassport/git/dotfileswin
[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    features = decorations

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax
[init]
	defaultBranch = main
